<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--<appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="E:\Log4NetDebug.txt" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <connectionStrings>
    <!--数据库连接-->
    <add name="SQLConnString" connectionString="server=NJHG236\SQLEXPRESS;database=jzx;uid=sa;pwd=xmg20162401" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>