<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <!--定义输出到数据库中，这里举例输出到Access数据库中，数据库为C盘的log4net.mdb-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="Data Source=NJHG236\SQLEXPRESS; Initial Catalog=jzx;User ID=sa;Password=xmg20162401" />
      <commandText value="INSERT INTO LogInfo ([GUID],[MSG_ID],[FILE_PATH],[LOG_DATE],[THREAD],[LEVEL],[LOGGER],[MESSAGE],[ERROR_DESCRIPTION],[CONTA_ID]) VALUES (newid(),@MsgId,@FilePath,@logDate, @thread, @logLevel, @logger,@message,@ErrorDescription,@ContaId)"  />
      <!--定义各个参数-->
      <parameter>
        <parameterName value="@MsgId"  />
        <dbType value="String"  />
        <size value="240"  />
        <layout type="ContainerMessageForm.MyLayout,ContainerMessageForm">
          <param name="ConversionPattern" value="%property{MsgId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@FilePath"  />
        <dbType value="String"  />
        <size value="240"  />
        <layout type="ContainerMessageForm.MyLayout,ContainerMessageForm">
          <param name="ConversionPattern" value="%property{FilePath}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ErrorDescription"  />
        <dbType value="String"  />
        <size value="240"  />
        <layout type="ContainerMessageForm.MyLayout,ContainerMessageForm">
          <param name="ConversionPattern" value="%property{ErrorDescription}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ContaId"  />
        <dbType value="String"  />
        <size value="240"  />
        <layout type="ContainerMessageForm.MyLayout,ContainerMessageForm">
          <param name="ConversionPattern" value="%property{ContaId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logDate"  />
        <dbType value="String"  />
        <size value="240"  />
        <layout type="log4net.Layout.RawTimeStampLayout">
          <conversionPattern value="%date"  />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@thread"  />
        <dbType value="String"  />
        <size value="240"  />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"  />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logLevel"  />
        <dbType value="String"  />
        <size value="240"  />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"  />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"  />
        <dbType value="String"  />
        <size value="240"  />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"  />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"  />
        <dbType value="String"  />
        <size value="240"  />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"  />
        </layout>
      </parameter>
    </appender>
    <!--定义日志的输出媒介-->
    <root>
      <!-- 如果不启用相应的日志记录，可以通过这种方式注释掉 -->
      <appender-ref ref="AdoNetAppender" />
      <level value="Error" />
    </root>
  </log4net>
</configuration>